header{background-color: #f3f6f8;
  position: sticky;
  top: 0;
}
#logo{width: 20vw;
  display: inline;
}
#titulo{font-size: 6vw ;
  text-align: center;
  font-weight: bolder ;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 2vh;
}
main{color:#000000;
  font-family: 'Source Sans Pro', sans-serif;
}

.color_principal{color: #393939;
}
#descr1{font-size: 2.1vw ;
  color: black;
  text-align: center;
  font-weight: normal ;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 2vh;
}
li{display: inline;
  padding: 2vh;
  padding-left: 2vw;
}
.texto-naranja{color:#d54e21
}
ul{display: inline;
  position:absolute; 
  right: 5%;
}
.linksa{text-decoration: none;
  font-size: 2vw ;
  color: #000000;
  font-family: 'Asap', sans-serif;
}
.linksa:hover{text-decoration: none;
  color: #000000;
  font-family: 'Asap', sans-serif;
}
.centrar_div{display: flex;
  justify-content: center;
  align-items: center;
  height: 2vw;
}
.titulo_rojo{color: #b91616
}
.grilla{display:grid;  
  grid-template-columns: auto auto auto;
  padding: 1vw;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.boton{
  background-color:#d54e21;
  border: none;
  padding: 1.5vh 3.5vh;
  border-radius: 1.3vw;
}

.boton2{
  padding-top: 3vh;
  text-align: center;
}

.vivo{
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline;
  font-size: 1.7vw;
  font-weight: bold
}
.vivo:hover{color: white;
}




#slider{
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  margin: auto;
}
.subcontainer{
  width: 100%;
  height: 80%;
  margin: auto;
}
.slide-img{
  width: 100%;
  height: 20vh;
  border-radius: 1vh;
  background-position: center;
  background-size:cover;
  cursor:pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.slide-img:hover{
  box-shadow: 0 0 0 20vh black inset;
}

.slide-img a{
  opacity: 0;
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
}
.slide-img:hover a{
  opacity: 1;
  transform: scale(1);
}
.img-1{
  background-image: url(./images/escudos/1.jpg);
}
.img-2{
  background-image: url(./images/escudos/12.jpg);
}
.img-3{
  background-image: url(./images/escudos/15.jpg);
}
.img-4{
  background-image: url(./images/escudos/16.jpg);
}
.img-5{
  background-image: url(./images/escudos/22.jpg);
}
.img-6{
  background-image: url(./images/escudos/23.jpg);
}
.img-7{
  background-image: url(./images/escudos/28.jpg);
}
.img-8{
  background-image: url(./images/escudos/36.jpg);
}
.img-9{
  background-image: url(./images/escudos/37.jpg);
}
.img-10{
  background-image: url(./images/escudos/41.jpg);
}
.img-11{
  background-image: url(./images/escudos/43.jpg);
}
.img-12{
  background-image: url(./images/escudos/52.jpg);
}
.img-13{
  background-image: url(./images/escudos/6.jpg);
}
.img-14{
  background-image: url(./images/escudos/61.jpg);
}
.escudos:hover{
  display: none;
}
.escudos:{
  
}



  @media only screen and (max-width: 600px) {
    header{position: static;
    vertical-align: center;}
    #logo{width: 70vw;
    justify-content: center;
    align-items: center;}
    #titulo{font-size: 12vw }
    #descr1{font-size: 4vw}
    li{padding: 4vh; display: flex;
      justify-content: center;
      align-items: center;
      height: 2vw
    }
    .linksa{font-size: 7vw }
    ul{position:relative;}
    .vivo{font-size: 4vw;
    font-weight: normal;}
    .boton{border-radius: 4vw;}
    #slider{display: none;}
}






